.servicesSection {
  padding: 3vw 0;
  background: #2d353d;
}

@media (max-width: 1024px) {
  .servicesSection {
    padding: 5vw 0;
  }
}

.container {
  max-width: 55vw;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .container {
    max-width: 90vw;
    margin: 0 auto;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  & .title {
    color: white;
    font-size: 1.8vw;
    font-family: var(--font-Inter);
    font-weight: var(--font-weight-bold);
    line-height: var(--font-lineh-small);
  }

  & .description {
    width: 70%;
    color: #afafaf;
    font-size: 0.85vw;
    font-family: var(--font-Inter);
    font-weight: var(--font-weight-normal);
    line-height: var(--font-lineh-normal);
    margin-top: 0.5vw;
  }
}

@media (max-width: 1024px) {
  .header {
    & .title {
      font-size: 3.6vw;
    }

    & .description {
      width: 100%;
      font-size: 1.8vw;
      margin-top: 1vw;
    }
  }
}

@media (max-width: 576px) {
  .header {
    & .title {
      font-size: 7vw;
    }

    & .description {
      font-size: 3.6vw;
      margin-top: 3vw;
    }
  }
}

.allCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 3vw;
  gap: 1.5vw;
}

@media (max-width: 1024px) {
  .allCards {
    flex-direction: column;
    margin-top: 3vw;
    gap: 2vw;
  }
}

@media (max-width: 576px) {
  .allCards {
    margin-top: 3vw;
    gap: 3vw;
  }
}

.card {
  width: 31.5%;
  border: none;
  border-radius: 0.5vw;
  box-shadow: 0 0.1vw 0.4vw rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  transform: scale(1);
  padding: 1vw 1vw;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(139, 139, 139, 0.1));
  box-shadow: 0 1vw 2vw -0.6vw rgba(0, 0, 0, 0.2509803922);
  border: 0.1vw solid rgba(92, 92, 92, 0.1);
  backdrop-filter: blur(0.3vw);
  -webkit-backdrop-filter: blur(0.5vw);
  cursor: pointer;

  &:hover {
    box-shadow: 0 0.2vw 0.6vw rgba(0, 0, 0, 0.1);
    transform: scale(1.03);
  }

  .cardHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    & .iconContainer {
      width: 3.5vw;
      height: 3.5vw;
      background: linear-gradient(135deg, #4facd8, #00a8e4);
      border-radius: 0.5vw;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: transform 0.3s ease;

      .card:hover & {
        transform: scale(1.1);
      }

      & .cardIcon {
        width: 1.25vw;
        height: 1.25vw;
        color: white;
      }
    }

    & .cardTitle {
      color: white;
      font-size: 1vw;
      font-family: var(--font-Inter);
      font-weight: var(--font-weight-bold);
      line-height: var(--font-lineh-normal);
      margin-top: 0.75vw;
    }
  }

  .cardContent {
    text-align: center;
    margin-top: 0.5vw;

    & .cardDescription {
      color: #afafaf;
      font-size: 0.85vw;
      font-family: var(--font-Inter);
      font-weight: var(--font-weight-normal);
      line-height: var(--font-lineh-normal);
    }

    & .price {
      color: #00a8e4;
      font-size: 1.3vw;
      font-family: var(--font-Inter);
      font-weight: var(--font-weight-bold);
      line-height: var(--font-lineh-normal);
      margin-top: 0.5vw;
    }
  }
}

@media (max-width: 1024px) {
  .card {
    width: 100%;
    border-radius: 0.5vw;
    box-shadow: 0 0.1vw 0.4vw rgba(0, 0, 0, 0.1);
    transform: scale(1);
    padding: 3vw 2vw;

    &:hover {
      box-shadow: 0 0.2vw 0.6vw rgba(0, 0, 0, 0.1);
      transform: scale(1);
    }

    .cardHeader {
      & .iconContainer {
        width: 7.5vw;
        height: 7.5vw;
        border-radius: 1vw;

        .card:hover & {
          transform: scale(1.1);
        }

        & .cardIcon {
          width: 3vw;
          height: 3vw;
        }
      }

      & .cardTitle {
        font-size: 2.5vw;
        margin-top: 2vw;
      }
    }

    .cardContent {
      margin-top: 2vw;

      & .cardDescription {
        font-size: 1.8vw;
      }

      & .price {
        font-size: 3vw;
        margin-top: 2vw;
      }
    }
  }
}

@media (max-width: 576px) {
  .card {
    border-radius: 3vw;
    padding: 5vw 2vw;

    .cardHeader {
      & .iconContainer {
        width: 12vw;
        height: 12vw;
        border-radius: 2vw;

        & .cardIcon {
          width: 5vw;
          height: 5vw;
        }
      }

      & .cardTitle {
        font-size: 5vw;
        margin-top: 3vw;
      }
    }

    .cardContent {
      margin-top: 3vw;

      & .cardDescription {
        font-size: 3.6vw;
      }

      & .price {
        font-size: 5vw;
        margin-top: 3vw;
      }
    }
  }
}

.footer {
  text-align: center;
  margin-top: 3vw;

  & .footerText {
    color: #afafaf;
    font-size: 0.85vw;
    font-family: var(--font-Inter);
    font-weight: var(--font-weight-normal);
    line-height: var(--font-lineh-normal);
  }
}

@media (max-width: 1024px) {
  .footer {
    margin-top: 3vw;

    & .footerText {
      font-size: 1.8vw;
    }
  }
}

@media (max-width: 576px) {
  .footer {
    margin-top: 5vw;

    & .footerText {
      font-size: 3.6vw;
    }
  }
}

.ctaButton {
  background: none;
  border: 0;
  color: #00a8e4;
  font-size: 0.85vw;
  font-family: var(--font-Inter);
  font-weight: var(--font-weight-bold);
  line-height: var(--font-lineh-normal);
  text-decoration: underline;
  cursor: pointer;
  margin-top: 0.5vw;
  transition: 0.2s ease-in-out;

  &:hover {
    color: #016d94;
    text-decoration-color: #016d94;
  }
}

@media (max-width: 1024px) {
  .ctaButton {
    font-size: 2vw;
    margin-top: 1.5vw;
  }
}

@media (max-width: 576px) {
  .ctaButton {
    font-size: 4vw;
    margin-top: 3vw;
  }
}

.ctaButton {
  background: none;
  border: 0;
  color: #00a8e4;
  font-size: 0.85vw;
  font-family: var(--font-Inter);
  font-weight: var(--font-weight-bold);
  line-height: var(--font-lineh-normal);
  text-decoration: underline;
  cursor: pointer;
  margin-top: 0.5vw;
  transition: 0.2s ease-in-out;

  &:hover {
    color: #016d94;
    text-decoration-color: #016d94;
  }
}

@media (max-width: 1024px) {
  .ctaButton {
    font-size: 2vw;
    margin-top: 1.5vw;
  }
}

@media (max-width: 576px) {
  .ctaButton {
    font-size: 4vw;
    margin-top: 3vw;
  }
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background: #282e36;
  padding: 1vw 1.5vw;
  border-radius: 0.5vw;
  max-width: 33vw;
  width: 100%;
  position: relative;
  animation: fadeIn 0.3s ease;

  & .closeIcon {
    background: none;
    position: absolute;
    top: 0.5vw;
    right: 0.5vw;

    width: 1.25vw;
    height: 1.25vw;
    fill: #afafaf;
    cursor: pointer;
  }
}

@media (max-width: 1024px) {
  .modal {
    padding: 3vw 3vw;
    border-radius: 1vw;
    max-width: 85vw;

    & .closeIcon {
      top: 1.5vw;
      right: 1.5vw;

      width: 3vw;
      height: 3vw;
    }
  }
}

@media (max-width: 576px) {
  .modal {
    padding: 6vw 5vw;
    border-radius: 1.5vw;
    max-width: 90vw;

    & .closeIcon {
      top: 2vw;
      right: 2vw;

      width: 5vw;
      height: 5vw;
    }
  }
}

.modalBlockFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1vw;

  & .modalTitle {
    color: white;
    font-size: 1vw;
    font-family: var(--font-Inter);
    font-weight: var(--font-weight-bold);
    line-height: var(--font-lineh-normal);
  }

  & .modalImage {
    width: 100%;
    border-radius: 0.25vw;
  }

  & .modalDescription {
    color: #afafaf;
    font-size: 0.85vw;
    font-family: var(--font-Inter);
    font-weight: var(--font-weight-normal);
    line-height: var(--font-lineh-normal);
  }

  & .callButtonBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    & .callButton {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.5vw;
      background: #00a8e4;
      border: 0;
      font-size: 0.75vw;
      color: white;
      font-family: var(--font-Inter);
      font-weight: var(--font-weight-smallStrong);
      line-height: var(--font-lineh-small);
      padding: 0.65vw 1.25vw;
      border-radius: 0.3vw;
      cursor: pointer;
      transition: 0.3s ease-in-out;
      animation: pulse-button-header 2.5s infinite;

      & .iconPhone {
        width: 0.85vw;
        height: 0.85vw;
      }

      &:hover {
        opacity: 0.8;
      }
    }
  }
}

@media (max-width: 1024px) {
  .modalBlockFlex {
    gap: 3vw;

    & .modalTitle {
      font-size: 2.5vw;
    }

    & .modalImage {
      border-radius: 0.5vw;
    }

    & .modalDescription {
      font-size: 1.8vw;
    }

    & .callButtonBlock {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      & .callButton {
        gap: 1.5vw;
        font-size: 1.8vw;
        padding: 1.75vw 3.5vw;
        border-radius: 0.75vw;

        & .iconPhone {
          width: 2vw;
          height: 2vw;
        }

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .modalBlockFlex {
    align-items: center;
    gap: 4vw;

    & .modalTitle {
      font-size: 4.25vw;
    }

    & .modalImage {
      text-align: center;
      width: 80%;
      border-radius: 1vw;
    }

    & .modalDescription {
      font-size: 3.6vw;
    }

    & .callButtonBlock {
      & .callButton {
        gap: 3vw;
        font-size: 3.6vw;
        padding: 3vw 5vw;
        border-radius: 1vw;

        & .iconPhone {
          width: 4vw;
          height: 4vw;
        }
      }
    }
  }
}

.callButton:hover {
  opacity: 0.9;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes pulse-button-header {
  0% {
    box-shadow: 0 0 0 0px rgb(0, 168, 228);
  }

  70% {
    box-shadow: 0 0 0.75vw 0.75vw rgba(81, 203, 238, 0);
  }
  100% {
    box-shadow: 0 0 0 0px rgba(81, 203, 238, 0);
  }
}
